/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    top: 100;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #696969;
    text-align: center;
    align-items: start;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav a:hover {
    opacity: 0.5;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bolder;
    text-decoration: none;
}

a:hover {
    color: grey;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10%, 1fr));
    margin: 3%;
    column-gap: 10px;
    padding-left: 5%;
    padding-right: 5%;
    height: 10%;
    opacity: 0.8;
}

.box {
    padding: 3%;
    padding-top: 5%;
    text-align: center;
    background-color: rgb(116, 115, 115);
    opacity: 0.8;
    border-radius: 15px;
}

.box a {
    padding: 2%;
    color: aliceblue;
    font-weight: normal;
    display: block;
    height: 100%;
    font-size: 125%;
}

.box:hover {
    opacity: 0.5;
}

.year-title {
    text-align: center;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #696969;
}

body {
    color: #696969;
    /* background-color: #fbfaf5; */
    background: radial-gradient(circle at 100%, #bcbcbc, #8a8a8a 50%, #c9c9c9 75%, #e4e4e4 75%);
    font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 600px) {
    /* Add a black background color to the top navigation */
    .topnav {
        overflow: hidden;
        top: 100;
        display:block;
    }

    /* Style the links inside the navigation bar */
    .topnav a {
        /* float: left; */
        color: #696969;
        text-align: center;
        align-items: start;
        padding: 10%;
        text-decoration: none;
        font-size: 150%;
        font-family: Arial, Helvetica, sans-serif;
    }

    .topnav a:hover {
        opacity: 0.5;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 15em;
        opacity: 0.8;
    }

    .box {
        padding: 3%;
        text-align: center;
        background-color: rgb(116, 115, 115);
        opacity: 0.8;
        margin-bottom: 1em;
        margin-top: 1em;
    }

    .box a {
        padding: 5%;
        color: aliceblue;
        font-weight: normal;
        display: block;
        height: 100%;
        font-size: 100%;
    }
  }